<div class="row">
  <div class="span10">
    <h1>About Us</h1>
    <p class="page-desc">
      Fuel Me Green was started by a group of friends with the aim of making fuel efficient vehicles more affordable. We saw a market disconnect between the environmental and economic benefits of fuel efficient vehicles and stated consumer interest. We hope our website can provide a financial solution to allow more consumers to drive the hybrid/electric vehicle they desire. Ultimately, we hope that Fuel Me Green can play a significant role in helping increase the rate of adoption of Electric or Hybrid vehicles. 
    </p>
   </div>
</div>

<div class="row">
  <div class="span3 span3-5 about">
    <span class="section-title">SEAMLESSLY CONNECT ENTREPRENEURS AND INVESTORS</span>
    <span class="scetion-image"><img src="/assets/about/img-1.png" width="225"></span>
    <p class="section-desc active">
      SeedInvest will seamlessly bring together entrepreneurs and investors through an equity-based crowdfunding 
      platform in a way that has never been done before
    </p>
  </div>
  <div class="span3 span3-5 about">
    <span class="section-title">EMPOWER ENTREPRENEURS TO PITCH TO MILLIONS OF INVESTORS</span>
    <span class="scetion-image"><img src="/assets/about/img-2.png" width="225"></span>
    <p class="section-desc">
      SeedInvest will seamlessly bring together entrepreneurs and investors through an equity-based crowdfunding 
      platform in a way that has never been done before
    </p>
 </div>
  <div class="span3 span3-5 about">
    <span class="section-title">ENABLE ANYONE TO SAFELY AND SMARTLY INVEST SEED CAPITAL</span>
    <span class="scetion-image"><img src="/assets/about/img-3.png" width="225"></span>
    <p class="section-desc">
      SeedInvest will seamlessly bring together entrepreneurs and investors through an equity-based crowdfunding 
      platform in a way that has never been done before  
    </p>
  </div>
</div>

<div class="row">
  <div class="span10">
    <p class="mission">Our mission is to Accelerate the Electric &amp; Hybrid movement </p>
   </div>
</div>


