<div class="row">
  <div class="span10">
    <h1>About Us</h1>
    <p class="page-desc">
      <div class="body"><%= t('.about_us.body') %></div>

    </p>
   </div>
</div>

<div class="row">
  <div class="span3 span3-5 about">
    <span class="section-title">SEAMLESSLY CONNECT ENTREPRENEURS AND INVESTORS</span>
    <span class="scetion-image"><img src="/assets/about/img-1.png" width="225"></span>
    <p class="section-desc active">
      SeedInvest will seamlessly bring together entrepreneurs and investors through an equity-based crowdfunding 
      platform in a way that has never been done before
    </p>
  </div>
  <div class="span3 span3-5 about">
    <span class="section-title">EMPOWER ENTREPRENEURS TO PITCH TO MILLIONS OF INVESTORS</span>
    <span class="scetion-image"><img src="/assets/about/img-2.png" width="225"></span>
    <p class="section-desc">
      SeedInvest will seamlessly bring together entrepreneurs and investors through an equity-based crowdfunding 
      platform in a way that has never been done before
    </p>
 </div>
  <div class="span3 span3-5 about">
    <span class="section-title">ENABLE ANYONE TO SAFELY AND SMARTLY INVEST SEED CAPITAL</span>
    <span class="scetion-image"><img src="/assets/about/img-3.png" width="225"></span>
    <p class="section-desc">
      SeedInvest will seamlessly bring together entrepreneurs and investors through an equity-based crowdfunding 
      platform in a way that has never been done before  
    </p>
  </div>
</div>

<div class="row">
  <div class="span10">
    <p class="mission">Our mission is to Accelerate the Electric &amp; Hybrid movement </p>
   </div>
</div>


