<div class="row">
  <div class="span10">
    <h1><%= t('.heading', default: "How It Works") %></h1>
    <p class="page-desc">
      <%= t('.body.text') %>Fuel Me Green hosts a new, innovative peer to peer lending website to make Hybrids and Electric vehicles more affordable. A Fuel Savings Loan is designed to help borrowers realize the monetary value of fuel savings from fuel efficient vehicles today, rather than over several years. Watch the video or see the infographic below to see how.
    </p>
   </div>
 </div>

<div class="how-it-works video">
  <iframe class="video-embed" width="450" height="300" frameborder="0" src="http://player.vimeo.com/video/24410070?title=0&byline=0&portrait=0&autoplay=1"></iframe>"
</div>
<br><br>
<div class="row">
  <div class="span1">&nbsp;</div>
  <div class="span3">
    <span class="section-header">
      <img src="/assets/howitworks/borrowers-header.png">
    </span>
    <span class="section-body">
      <img src="/assets/howitworks/borrowers-diagram.png" width="400">
    </span>
  </div>
  <div class="span1">&nbsp;</div>
  <div class="span3">
    <span class="section-header">
      <img src="/assets/howitworks/lenders-header.png">
    </span>
    <span class="section-body">
      <img src="/assets/howitworks/lenders-diagram.png" width="400">
    </span>
  </div>

</div>

