<div class="row">
  <div class="span10">
    <h1><%= t('.heading') %>How It Works</h1>
    <p class="page-desc">
      <%= t('.text') %>Are you interested in getting a financial return while helping the environment and reducing our dependence on oil?
      Join our email list to receive updates and stay connected.<br /><br />
      Get on the waiting list to be a Fuel savings loan lender.
    </p>
   </div>
</div>
