<% set_subtitle 'Change Denied' %>

<div class="span-21 append-1">
  <h1>We're sorry. We don't mean to be rude, but...</h1>
  <p>It seems that you do not have the authority to make the requested change.</p>
</div>

