<style>
  #left {
    width: 640px;
    float: left;
  }
  section, header, footer, article, nav {
    display: block;
  }
  #normal-page #left h2 {
display: block;
background: url(../images/lefth2.jpg) left center no-repeat;
line-height: 27px;
padding: 5px 10px 10px 10px;
}
#normal-page h2, #top-columns h2 {
font-size: 2.2em;
margin-bottom: 10px;
color: #2D2D2D;
}
h2 {
font-family: 'TeXGyreAdventor', Arial, sans-serif;
}

.blogpreview {
padding-top: 15px;
}

#left article {
padding: 0 10px;
}
.postpreview {
margin-bottom: 15px;
padding-bottom: 10px;
border-bottom: solid 1px #DDD;
}
.postpreview .entry {
width: 475px;
float: right;
}
#normal-page h3 {
font-size: 1.8em;
color: #2885B5;
margin-bottom: 10px;
}
.postpreview h3, .post h3 {
font: normal 2.2em 'FertigoProRegular', Arial, Helvetica, sans-serif!important;
}
h3 {
font-family: 'DroidSansBold', Arial, sans-serif;
font-weight: normal;
}
#normal-page p {
margin-bottom: 15px;
}
#contents p {
font-size: 1.2em;
line-height: 20px;
}
a {
color: #1B78A8;
text-decoration: none;
}
.postpreview .postinfo {
width: 130px;
float: left;
display: block;
}
.postinfo p {
font-size: 1.1em!important;
line-height: 1.4em!important;
text-align: right;
}
.postpreview .postinfo p span {
display: block;
}
#sidebar {
width: 298px;
float: right;
}
#normal-page #sidebar h2 {
display: block;
background: url(../images/sidebarh2.jpg) left center no-repeat;
line-height: 27px;
padding: 5px 10px 10px 10px;
}
#normal-page h2, #top-columns h2 {
font-size: 2.2em;
margin-bottom: 10px;
color: #2D2D2D;
}

#sidebar .sbwrap {
padding: 10px;
}

ul {
list-style: none;
}

ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

#sidebar ul li {
display: block;
height: 31px;
}
#contents li {
font-size: 1.2em;
}
.sbwrap.twocol li {
width: 49%;
float: left;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}

</style>
<section id="sidebar">
  <h2>Categories</h2>
  <div class="sbwrap twocol">
    <ul>
      <li><a href="blog/#">Typography</a></li>
      <li><a href="blog/#">Web Design</a></li>
      <li><a href="blog/#">Typography</a></li>
      <li><a href="blog/#">Graphics Design</a></li>
      <li><a href="blog/#">Web Design</a></li>
      <li><a href="blog/#">Typography</a></li>
      <li><a href="blog/#">Graphics Design</a></li>
     
      <li><a href="blog/#">Web Design</a></li>
      <li><a href="blog/#">Typography</a></li>
      <li><a href="blog/#">Graphics Design</a></li>
     
      <li><a href="blog/#">Site News</a></li>
    </ul>
    <div class="clear"></div>
  </div>

  <h2>Archives</h2>
  <div class="sbwrap">
    <ul>
      <li><a href="blog/#">Typography</a></li>
      <li><a href="blog/#">Web Design</a></li>
      <li><a href="blog/#">Typography</a></li>
      <li><a href="blog/#">Graphics Design</a></li>
      <li><a href="blog/#">Web Design</a></li>
      <li><a href="blog/#">Typography</a></li>
      <li><a href="blog/#">Graphics Design</a></li> 
    </ul>
    <div class="clear"></div>
  </div>

  <h2>Latest Comments</h2>
    <article class="testimonials">
<blockquote>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas purus bibendum neque aliquam ut posuere elit semper. </p>
<cite>John Doe, New York City</cite>
</blockquote>
<blockquote>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<cite>John Doe, New York City</cite>
</blockquote>

<blockquote>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<cite>John Doe, New York City</cite>
</blockquote>

<blockquote>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas purus bibendum</p>
<cite>John Doe, New York City</cite>
</blockquote>
</article>
</section>


<section id="left">
  <h2>Latest Blog Entries</h2>
  <section class="blogpreview">
    <article class="postpreview">
      <section class="entry">
        <h3>Post Heading</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisl urna, aliquam 
          vitae vehicula eu, vulputate nec risus. Suspendisse mollis, purus sed aliquam volutpat 
          <a href="blog/#">Read More</a>
        </p>
      </section>
      <aside class="postinfo">
        <p>
          <time>12 August 2010</time>
          <span>124 Comments</span>
          <span>Web Design</span>
        </p>
      </aside>
      <div class="clear"></div>
    </article>

  </section>
</section>
