html {
  background: url(/assets/layout/home-bg.png) no-repeat center center fixed;
      -ms-background-size: cover;
     -moz-background-size: cover;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

body.home.index {
  background: transparent;
  .navbar .container {
    margin-left: 200px;
  }
  .brand {
    margin: 87px 0 0 205px;
    width: 215px;
    height: 65px;
    display: block;
    background-color: white;
    padding: 10px 8px 10px 18px;

        -ms-border-radius: 0 0 7px 7px;
       -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
         -o-border-radius: 0 0 7px 7px;
            border-radius: 0 0 7px 7px;

        -ms-box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.75);
       -moz-box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.75);
    -webkit-box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.75);
         -o-box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.75);
            box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.75);

  }
}



.home.container {
  margin-top: 150px;
  min-height: 600px;
  background: transparent;

  .video {
    position: fixed;
    top: 250px;
    right: 175px;
    width: 795px;
    height: 460px;

        -ms-border-radius: 9px;
       -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
         -o-border-radius: 9px;
            border-radius: 9px;

        -ms-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);
       -moz-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);
         -o-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);
            box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);

    background:     -ms-linear-gradient(top,#fff,#aaa 45%, #aaa 45%, #555);
    background:    -moz-linear-gradient(top,#fff,#aaa 45%, #aaa 45%, #555);
    background: -webkit-linear-gradient(top,#fff,#aaa 45%, #aaa 45%, #555);
    background:      -o-linear-gradient(top,#fff,#aaa 45%, #aaa 45%, #555);
    background:         linear-gradient(top,#fff,#aaa 45%, #aaa 45%, #555);


    opacity: 0.3;
    filter: alpha(opacity=30); // For IE8 and earlier

  }
}

.play-button {
  position: fixed;
  top: 400px;
  right: 475px;
  width: 154px;
  height: 154px;
  background: url(/assets/home/play-button-bg.png) transparent no-repeat top left;
  vertical-align: middle;
  opacity: 0.8;
  filter: alpha(opacity=80); // For IE8 and earlier

  &:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); // For IE8 and earlier
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/assets/home/play-button-arrow.png) transparent no-repeat center center;
  }
}


.footer-wrapper {
  background: url(/assets/layout/footer-long.png) transparent top left no-repeat;
  footer {
    background: url(/assets/layout/footer.png) transparent top left no-repeat;
  }
}