<% if page?(:home, :index) %>
  <ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider"><i class="icon-caret-right"></i></span></li>
    <li class="active">About Us</li>
  </ul>
<% end %>
