<ul class="breadcrumb">
  <% unless page?(:home, :index) %>
    <li><a href="/">Home</a> <span class="divider"><i class="icon-caret-right"></i></span></li>
    <li class="active"><%= @page_header %></li>
  <% end %>
</ul>
