<div class="footer-wrapper">   
  <footer>
    <div class="content">
      <p class="note">
        Please note that by submitting an application for a Fuel Me Green, you are joining a waiting list.
        The submission of an application does not guarantee that you will be pre-approved for a loan. 
        Additional information may be required such as a credit report and income verification.         
      </p>
      <p class="copyright"><%= copyright %></p>
    </div>
    <div class="vertical-line"></div>
    <div class="right-content">
      <p class="tag-line">Eliminating Paying At the Pump</p>
    </div>
  </footer>
</div>
