<div class="footer-wrapper">   
  <footer>
    <div class="content">
      <p class="note">
        <%= t('.note') %>
      </p>
      <p class="copyright"><%= copyright %></p>
    </div>
    <div class="vertical-line"></div>
    <div class="right-content">
      <p class="tag-line"><%= t('.tag_line') %></p>
    </div>
  </footer>
</div>
