<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="menu-arrow"></div>
    <div class="container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(image_tag('fuelme-logo.png'), '/', class: :brand) unless page?(:home, :index) %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <%= render_navbar %>
            </ul>
          </div>
        </div>
  </div>
</div>
<%= link_to(image_tag('fuelme-logo.png'), '/', class: :brand) if page?(:home, :index) %>